html, body, pre, code, kbd, samp, p{
    font-family: 'Press Start 2P', cursive;
}

html{
    height: 100%;
    width: 100%;
}

.title{
    font-family: 'Press Start 2P', cursive;
}
.scopes{
    font-family: 'Press Start 2P', cursive;
    font-size: smaller;
}
